<div class="prose mx-auto mt-28">
  <h1>Translations</h1>

  <% @translations.each do |group| %>
    <h2>Lesson <%= group.first %></h2>
    <%= button_to 'Review',
      translation_path(group.last.first),
      class: 'px-4 py-2 font-semibold text-sm bg-sky-500 text-white rounded-none shadow-sm',
      method: :get %>
    <ul>
      <% group.last.each do |translation| %>
        <li>
          <%= translation.original %>
          <%= translation.pronunciation %>
          <%= translation.meaning %>
        </li>     
      <% end %>
    </ul>
  <% end %>
</div>
